.light_1{
  position: absolute;
  left: 20%;
  top: 48%;
  height: 400px;
  width: 400px;
  background: url(../images/light-orange.png) no-repeat;
}
.light_3{
  position: absolute;
  left: 39%;
  top: 48%;
  height: 400px;
  width: 400px;
  background: url(../images/light-orange.png) no-repeat;
}
.light_2{
  position: absolute;
  left: 29%;
  top: 48%;
  height: 400px;
  width: 400px;
  background: url(../images/light-purple.png) no-repeat;
}
