@import 'normalize';

@keyframes wave{
  0%{
    transform: rotateZ(0deg) translate3d(0,15%,0) rotateZ(0deg);
  }
  100%{
    transform: rotateZ(360deg) translate3d(0,15%,0) rotateZ(-360deg);
  }

}


@keyframes lighthouse{
  0%{
    transform: rotateZ(13deg);
  }
  50%{
    transform: rotateZ(-13deg) translateX(-5%);
  }
  100%{
    transform: rotateZ(13deg);
  }

}

.lighthouse{
  transform: rotateZ(10deg);
  background: url(../images/lighthouse.png);
  position: absolute;
  bottom: 175px;
  transform-origin: bottom;
  right: 300px;
  height: 362px;
  width: 231px;
  background-size: 100%;
  animation: lighthouse 5s infinite ease;
}
.background{
  background: url('../images/background2.jpg');
  width: 100%;
  height: 100%;
  background-size: 100%;
  position: absolute;
}
.section{
  width: 100%;
  height: 400px;
}
.wave {
  background: url('../images/wave.png');
  position: absolute;
  width: 200%;
  left: -50%;
  background-position: center bottom;
  background-size: auto 101%;
  animation: wave 4s infinite  linear;

  &_1 {
    bottom: -90px;
    height: 420px;

  }
  &_2 {
    bottom: 74px;
    height: 189px;

  }
  &_3 {
    bottom: 154px;
    height: 129px;


  }
  &_4 {

    bottom: 207px;
    height: 119px;
  }
  &_5{
    bottom: 244px;
    height: 80px;
  }
}
.layer{
  width: 100%;
  height: 100%;
  transform: translate3d(0,0,0);
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
#scene{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}