extends includes/base
block page
  .page
    .section.section_1(data-type="background" data-speed="8")
      .article.article_top(data-speed="10")
        .title Lorem ipsum dolor
        p  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nasceturLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolo
        p  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nasceturLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.

      .article.article_name(data-speed="6")
        .title.title_name Lorem ipsum dolor
      .article.article_right(data-speed="2")
        .title.title_right Lorem ipsum dolor
        p  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        p  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nasceturLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        p  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nasceturLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
    .section.section_2(data-type="background" data-speed="6")


