extends includes/base
block page
  #scene
      .layer(data-depth="0")
        .background
      .layer(data-depth="0.60")
        .light_1
        .light_2
        .light_3
      .layer(data-depth="0.20")
        .rope.rope_3
          .board.birds.board_3
          .board.cloud_4.board_3
          .board.cloud_1.board_3
      .layer(data-depth="0.40")
        .rope.rope_2
          .board.cloud_1.board_2
          .board.cloud_2.board_2
      .layer(data-depth="0.60")
        .rope.rope_1
          .board.board_1.birds
          .board.cloud_4.board_1
          .board.cloud_3.board_1

      .layer(data-depth="0.60")
        .wave.wave_5
      .layer(data-depth="0.70")
        .lighthouse
      .layer(data-depth="0.70")
        .wave.wave_4
      .layer(data-depth="0.80")
        .wave.wave_3
      .layer(data-depth="0.95")
        .wave.wave_2
      .layer(data-depth="1")
        .wave.wave_1


