extends includes/base
block page
  #scene
      .layer(data-depth="0")
        .background
      .layer(data-depth="0.60")
        .wave.wave_5
      .layer(data-depth="0.70")
        .wave.wave_4
      .layer(data-depth="0.30")
        .lighthouse
      .layer(data-depth="0.80")
        .wave.wave_3
      .layer(data-depth="0.95")
        .wave.wave_2
      .layer(data-depth="1")
        .wave.wave_1
  .section
